In [1]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\lenovo\appdata\roaming\python\python313\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in c:\users\lenovo\appdata\roaming\python\python313\site-packages (from scikit-learn) (2.3.1)
Requirement already satisfied: scipy>=1.8.0 in c:\users\lenovo\appdata\roaming\python\python313\site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lenovo\appdata\roaming\python\python313\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lenovo\appdata\roaming\python\python313\site-packages (from scikit-learn) (3.6.0)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Load the dataset from the previous step
# Replace 'bookings_outliers_handled.csv' with the actual file path if not in the same directory
file_path = 'bookings_outliers_handled.csv'
data_cleaned = pd.read_csv(file_path)

# Create a copy of the dataset to preserve the loaded data
data_processed = data_cleaned.copy()

In [4]:
# Step 1: Inspect numeric columns
numeric_columns = ['V_TAT', 'C_TAT', 'Booking_Value', 'Ride_Distance', 'Driver_Ratings', 'Customer_Rating']
print("Summary Statistics Before Standardization/Normalization:")
display(data_processed[numeric_columns].describe())

Summary Statistics Before Standardization/Normalization:

,V_TAT,C_TAT,Booking_Value,Ride_Distance,Driver_Ratings,Customer_Rating
count,103024.000000,103024.000000,103024.000000,103024.000000,103024.000000,103024.000000
mean,105.441984,52.323876,521.891093,14.083777,2.481997,2.482529
std,103.339210,49.353533,437.960673,15.557015,1.991983,1.992770
min,0.000000,0.000000,128.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,242.000000,0.000000,0.000000,0.000000
50%,84.000000,45.000000,386.000000,8.000000,3.400000,3.400000
75%,196.000000,95.000000,621.000000,26.000000,4.200000,4.200000
max,287.000000,135.000000,1899.000000,45.000000,5.000000,5.000000

In [5]:
# Step 2: Initialize scalers
standard_scaler = StandardScaler()
minmax_scaler = MinMaxScaler()

In [6]:
# Step 3: Standardize and normalize numeric columns
for col in numeric_columns:
    # Standardize: Create new column with _std suffix
    data_processed[f'{col}_std'] = standard_scaler.fit_transform(data_processed[[col]])
    # Normalize: Create new column with _norm suffix
    data_processed[f'{col}_norm'] = minmax_scaler.fit_transform(data_processed[[col]])

In [7]:
# Step 4: Handle Canceled_Rides_by_Customer and Canceled_Rides_by_Driver if they exist and are numeric
for col in ['Canceled_Rides_by_Customer', 'Canceled_Rides_by_Driver']:
    if col in data_processed.columns and data_processed[col].dtype == 'float64':
        data_processed[f'{col}_std'] = standard_scaler.fit_transform(data_processed[[col]])
        data_processed[f'{col}_norm'] = minmax_scaler.fit_transform(data_processed[[col]])
        print(f"\nStandardized and normalized {col}")
    elif col in data_processed.columns:
        print(f"\nSkipping {col}: Contains non-numeric data (string).")

Skipping Canceled_Rides_by_Customer: Contains non-numeric data (string).

Skipping Canceled_Rides_by_Driver: Contains non-numeric data (string).

In [8]:
# Step 5: Validate transformations
print("\nSummary Statistics for Standardized Columns:")
std_columns = [f'{col}_std' for col in numeric_columns]
display(data_processed[std_columns].describe())

print("\nSummary Statistics for Normalized Columns:")
norm_columns = [f'{col}_norm' for col in numeric_columns]
display(data_processed[norm_columns].describe())

Summary Statistics for Standardized Columns:

,V_TAT_std,C_TAT_std,Booking_Value_std,Ride_Distance_std,Driver_Ratings_std,Customer_Rating_std
count,1.030240e+05,1.030240e+05,1.030240e+05,1.030240e+05,1.030240e+05,1.030240e+05
mean,-6.910660e-17,-1.834566e-17,-5.903717e-17,-1.006942e-17,3.082899e-17,6.627888e-17
std,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00
min,-1.020353e+00,-1.060190e+00,-8.993799e-01,-9.053051e-01,-1.245999e+00,-1.245774e+00
25%,-1.020353e+00,-1.060190e+00,-6.390812e-01,-9.053051e-01,-1.245999e+00,-1.245774e+00
50%,-2.074923e-01,-1.483969e-01,-3.102830e-01,-3.910651e-01,4.608509e-01,4.604020e-01
75%,8.763223e-01,8.647067e-01,2.262975e-01,7.659748e-01,8.624627e-01,8.618552e-01
max,1.756922e+00,1.675190e+00,3.144382e+00,1.987295e+00,1.264075e+00,1.263308e+00

Summary Statistics for Normalized Columns:

,V_TAT_norm,C_TAT_norm,Booking_Value_norm,Ride_Distance_norm,Driver_Ratings_norm,Customer_Rating_norm
count,103024.000000,103024.000000,103024.000000,103024.000000,103024.000000,103024.000000
mean,0.367394,0.387584,0.222412,0.312973,0.496399,0.496506
std,0.360067,0.365582,0.247296,0.345711,0.398397,0.398554
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.064370,0.000000,0.000000,0.000000
50%,0.292683,0.333333,0.145680,0.177778,0.680000,0.680000
75%,0.682927,0.703704,0.278374,0.577778,0.840000,0.840000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
# Step 6: Save the dataset with standardized and normalized columns
data_processed.to_csv('bookings_standardized_normalized.csv', index=False)
print("Dataset with standardized and normalized columns saved as 'bookings_standardized_normalized.csv'")

Dataset with standardized and normalized columns saved as 'bookings_standardized_normalized.csv'